@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url('http://localhost:1337/uploads/240_F_443693248_FFO_Uon01_HIYUVLVPF_Iyhrz_Dlbm_WN_8_X_Kq_bbb8e7d740.jpg');
    animation-name: moveBackground;
    animation-duration: 5s; /* Adjust the duration based on the number of keyframes */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: ease 0.5s;
}

.options-sidebar {
    position: absolute;
    z-index: 10;
    margin: 1.5rem;
    max-height: calc(100vh - 3rem);
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    25% {
      background-position: 10px -10px;
    }
    50% {
      background-position: 20px 0;
    }
    75% {
      background-position: 30px -10px;
    }
    100% {
      background-position: 40px 0;
    }
  }